@import 'system';

body {
    margin: 0;
    #app {
        background: $black;
        height: 100vh;
        width: 100%;
        position: relative;
        p{
            color:$white;
            margin:0;
            font-weight: 300;
            
        }
        .intro{
            position: absolute;
            left: 0;
            right:0;
            width:100%;
            top:50%;
            transform: translateY(-50%);
            .content{
            position: relative;
            overflow: hidden;
            height:100px;
            h1,h2{
                color:#fff;
                text-align: center;
                animation-name: animationtext;
                animation-duration: 6s;
                position: absolute;
                left:0;
                right:0;
            }
            h2{
                margin-top: 0;
                animation-name: animationtext2;
                
            }

            }
            
        }
        span{
            color:$white;
            color: #fff;
            top: 50px;
            position: fixed;
            left: 0;
            right: 0;
            text-align: center;
            animation-name: opacity;
            animation-duration: 13s;
        }
        a{
            position: absolute;
            bottom:20px;
            left:0;
            right:0;
            color:#fff;
            width: 50%;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
}